.firstDiv{
  color:blue;
  font-style: italic;
}

.secondDiv{
  color: green;
  font-weight: bold;
}

#single{
  color: red;
  text-decoration:underline;
}

*{
  font-family: cursive;
}
/* if ol comes after h3 add the style to ol */
h3 + ol{
  border: 4px dotted purple;
}

li a{
  color:orange;
}

li a[href="https://www.yahoo.com"]{
  color: black;
  border: 3px blue solid;
}
